<?xml version="1.0"?>
<launch>

    <arg name="ostype" value="$(env OSTYPE)"/>
    <arg name="user" value="$(env USER)"/>

    <group if="$(param ostype) == linux-gnu">

        <group if="$(param user) == nvidia"> <!--Nvidia-->
            <arg name="connection" default="/dev/ttySTM _baud:=912600"/>
            <node pkg="mainboard_firmware" type="serial_node.py" name="serial_node" args="$(arg connection)" output="screen" respawn="true">
                <rosparam file="$(find mainboard_firmware)/config/default.yaml" command="load"/>
            </node>
        </group>

        <group unless="$(param user) == nvidia"> <!--Ubuntu-->
            <arg name="connection" default="/dev/ttySTM _baud:=921600"/>
            <node pkg="mainboard_firmware" type="serial_node.py" name="serial_node" args="$(arg connection)" output="screen" respawn="true">
                <rosparam file="$(find mainboard_firmware)/config/default.yaml" command="load"/>
            </node>
        </group>
    </group>

    <group unless="$(param ostype) == linux-gnu"> <!--OSX-->
        <arg name="connection" default="/dev/cu.usbserial _baud:=921600"/>
        <node pkg="mainboard_firmware" type="serial_node.py" name="serial_node" args="$(arg connection)" output="screen" respawn="true">
            <rosparam file="$(find mainboard_firmware)/config/default.yaml" command="load"/>
        </node>
    </group>

</launch>
