<?xml version="1.0"?>
<launch>

    <arg name="connection_type" default="/dev/ttyTHS0 _baud:=115200"/>
    <node pkg="rosserial_python" type="serial_node.py" name="serial_node" args="connection_type" output="screen">
        <rosparam file="$(find mainboard_firmware)/config/default.yaml" command="load"/>
    </node>
</launch>
